<div class="background">

    
    <img src="../../../assets/images/rub-el-hizb.png" alt="">
    <h2 class="titre">Illumine ton Coeur par la quête du Savoir</h2>
    <p class="background-text">D'apres Mu'âwiya :<br> « Lorsque Dieu veut le bien à un serviteur, Il lui octroie la compréhension de la religion. »</p>
    <button mat-raised-button class="btn-home">inscrivez-vous !</button>


</div>

  <h2 class="titre-home">Bienvenue a l'école Quraniyah</h2>

<div class="card-container">
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="text-card">Présentation de l'association</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Poodle</mat-card-title>
      <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Australian Shepherd</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Poodle</mat-card-title>
      <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet></router-outlet>
