<footer class="foot">
    <div class="img-footer"></div>
    
    <div class="footer">
        <div class="socialMedia">
            <mat-icon>instagram</mat-icon>
            <a href="">Instagram</a>
          </div>
          <div class="footer__content">
            <div>
              <img
                src="../../../../src/assets/img/quraniyah2.png"
                alt="Logo quraniyah2"
              />
              <p class="quraniyahtext">
                Quraniyah est une association de loi 1901 qui enseigne la langue arabe,
                la mémorisation du coran ainsi que l'éducation islamique dédiée aux
                enfants, adolescentes et aux femmes.
              </p>
            </div>
            <div>
              <h4 class="TitleFooter">Information</h4>
              <div class="ProgrammeTarifs">
                <a href="" target="_blank">Programme</a>
                <a href="" target="_blank">Tarifs</a>
              </div>
            </div>
            <div>
              <h4 class="TitleFooter">Contact</h4>
              <div>Tel: 07 58 91 99 87</div>
              <div>Mail : quraniyah''outlook.fr</div>
              <div>Noisy Le grand 93160</div>
            </div>
            <div>
              <h4 class="TitleFooter">Aide</h4>
              <div>Nous soutenir</div>
            </div>
          </div>
        
          <div class="copyright">
            Quraniyah - © 2024. Tout droits réservés à Quraniyah
          </div>
    </div>    
  </footer>
  