<h2 mat-dialog-title style="text-align: center;">Le règlement intérieur de l’institut Quraniyah</h2>
<mat-dialog-content class="body">

<p>Le règlement intérieur détermine l'ensemble des règles et des principes de vie de l’institut.</p>

<h3>Nous attendons de chacun de nos élèves à veiller au respect : </h3>

<ul>
  <li>De l’obligation d’assiduité des élèves et d’être à l’heure aux cours.

    En cas d’absences les élèves doivent justifier leurs absences et avertir leurs professeurs. Au-delà de 3 absences injustifié, l’élèves peut-être sanctionné par un renvoi avec l’obligation de régler l’entièreté de sa cotisation.
    
    En cas de départ de l’élève en cours d’année, la cotisation ne sera pas remboursé.</li>
  <li>L’élève doit apporter à chaque cours son matériel qui doit être préparer en amont et non durant le cours.</li>
  <li>Effectuer les devoirs demandés en classe et réviser ses leçons.</li>
  <li>S’il ne révise pas à plusieurs reprises ses leçons, il est passible de recevoir un avertissement qui devra être signée. Au bout du deuxième avertissement, l’élève ne sera accepté en cours qu’après un entretien.</li>
  <li>Respect des principes du vivre-ensemble en classe, et le devoir qui en découle</li>
  <li>Respect des professeurs et de leurs intégrités.</li>
  <li> Respect des professeurs et de leurs intégrités.</li>
  <li>Les parents d’élève ne doivent intervenir en cours sans l’accord du professeur. Toutes informations doit être communiquées avant ou après le cours.</li>
  <li>Respect de l’obligation de paiement de la cotisation annuelle.</li>
</ul>
<h3>L’institut s’engage au respect du : </h3>
<ul>
  <li>La sincérité de l’enseignement quelque soit la science enseignée</li>
  <li>Droit des élèves à l’information sur les acquis et le comportement scolaire.</li>
  <li>Droit des parents à l’information sur les acquis et le comportement scolaire de leurs enfants</li>
  <li>Les garanties de protection des élèves et de leurs dignités</li>
  <li>Il fixe, par ailleurs, les mesures d'organisation de l'institut :
    <ul>
      <li>Les heures d'entrée et de sortie des élèves en classe</li>
      <li>Les modalités d’information des élèves et l’organisation du dialogue entre les élèves et l’équipe pédagogique.</li>
      <li>Les modalités d’information des parents d’élèves et l’organisation du dialogue entre les familles et l’équipe pédagogique</li>
    </ul>
  </li>
  <li>Ainsi que des mesures positives d'encouragement, d’accompagnement des élèves pour leurs évolutions.</li>
</ul>

<h3 style="text-align: center;">Lors de l'admission d'un élève à l'institut, il atteste qu'il a pris connaissance du règlement intérieur, s’engage à le respecter.</h3>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
</mat-dialog-actions>
